.Mapa{
    height: 100vh;
    width: auto;
}

.popupHeader{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
}

.insignias{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-evenly;
}