.Mapa{
    display: flex;
    height: 100vh;
    width: auto;
}

.popupHeader{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
}

.insignias{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-evenly;
}

.divPopup{
    display: flex;
    flex-direction: column;
}

.seleccionador{
    display: flex;
    background-color:rgba(219, 219, 219, 0.712); 
    border: 2px solid rgba(136, 136, 136, 0.836);
    height: 50vh; 
    width: 40vh;
    position: absolute;
    z-index: 1;
    margin-top: 12vh;
    margin-left: 4vh;
    border-radius: 2vh;
}

.mapaObjeto{
    height: 100%;
    width: 100%;
    z-index: 0;
}